<page-header [content]="contentTpl" [action]="phActionTpl">
  <ng-template #phActionTpl>
    <!-- <button (click)="add()" nz-button nzType="primary">新建</button> -->
    <!-- <button nz-button nzType="link" (click)="syncTable()">同步全部</button> -->
  </ng-template>
  <ng-template #contentTpl> </ng-template>
</page-header>
<nz-card [nzExtra]="extra2">
  <ng-template #extra2> </ng-template>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <st #st [data]="url" [columns]="columns" [scroll]="{ x: '800px' }" resizable [res]="{ process: process }" [req]="{ lazyLoad: true }">
  </st>
</nz-card>
